{% extends  'polls/base.html' %} <!--kế thừa từ base.html-->

{% block title %} Top MV {% endblock %}
{% block top %}
{% load static %}
<!--Main content-->

<div class="container maincontent mt-3">
    <div class="row">
        <a href="{% url 'polls:detail' last.id %}" class="col-lg-6 col-md-6 col-sm-12 col-xs-12 left">
            <!--phần tử ảnh nổi bật bên trái-->
            <img src="{{ last.product_img_intro.url }}" alt="" class="rounded img-fluid anhTopmv">

            <div class="Rvchu1 container">
                <div class="container">
                    <div class="row">
                        <div class="chuto ">Review MV</div>
                    </div>
                </div>
                <div class="chunho">
                    <p>{{ last.Name_MV }}</p>
                </div>
            </div>
        </a>

        <div class="col-lg-6  col-md-6 col-sm-12 col-xs-12 right ">
            <!--cụm bên phải-->
            <div class="container containerRight text-center">
                <div class="row">
                    <a href="{% url 'polls:detail' last1.id %}"
                       class="col-lg-12 col-md-12 col-sm-6 col-xs-6  top1 active">
                        <!--phần tử ảnh nổi bật bên phải ở trên-->
                        <img src="{{ last1.product_img_intro.url }}" alt="" class="rounded img-fluid anhTopmv1 ">
                        <div class="top22">
                            <div class="">
                                <div class="row">
                                    <div class="rview">Review MV</div>
                                </div>
                            </div>
                            <div class="namemv">
                                <p>{{ last1.Name_MV }}</p>
                            </div>
                        </div>
                    </a>

                    <a href="{% url 'polls:detail' last2.id %}" class="col-lg-12 col-md-12 col-sm-6 col-xs-6 top1">
                        <!--phần tử ảnh nổi bật bên phải ở dưới-->
                        <img src="{{ last2.product_img_intro.url }}" alt="" class="rounded img-fluid anhTopmv1">
                        <div class="top22">
                            <div class="">
                                <div class="row">
                                    <div class="rview">Review MV</div>
                                </div>
                            </div>
                            <div class="namemv">
                                <p>{{ last2.Name_MV }} </p>
                            </div>
                        </div>
                    </a>

                </div>
            </div>
        </div>
    </div>
    <br>
</div>

<!--End Main content-->

<!--list detail content-->
<div class=" container mt-3 listDetail ">

    <div class="row listttt">
        {% for x, y in items %}  <!--duyệt 2 list cùng 1 lần-->
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 listDetail_item wow rollIn" data-wow-delay="{{y}}s">
            <a href="{% url 'polls:detail' x.id %}">
                <img src="{{ x.product_img_intro.url }} "class="rounded img-fluid ">
            </a>
            <a href="{% url 'polls:detail' x.id %}">
                <h5 class="title_RvMv text-center mt-2">{{x.Name_MV}}</h5>
            </a>
            <p class="time_RvMV text-center"><i class="fas fa-clock clock_rv">{{x.time}}</i></p>
        </div>
        {% endfor %}
    </div>
</div>

<div class="empty_search diableDiv">

</div>

<!--	End list detail content-->
<div class="pagination">
    {% if items.has_previous %}
    <a class="pagination-action" href="?page=1">
        <i class="fa fa-angle-double-left" aria-hidden="true"></i>
    </a>
    <a class="pagination-action" href="?page={{ items.previous_page_number }}">
        <i class="fa fa-angle-left" aria-hidden="true"></i>
    </a>
    {% endif %}
    <span class="pagination-current">{{ items.number }}</span>
    <span class="pagination-of">of</span>
    <span class="pagination-total">{{ items.paginator.num_pages }}</span>
    {% if items.has_next %}
    <a class="pagination-action" href="?page={{ items.next_page_number }}">
        <i class="fa fa-angle-right" aria-hidden="true"></i> </a>
    <a class="pagination-action" href="?page={{ items.paginator.num_pages }}">
        <i class="fa fa-angle-double-right" aria-hidden="true"></i>
    </a>
    {% endif %}
</div>
{% for t in list_data_search %}
<p class="list">{{t}}</p>
{% endfor %}
{% endblock %}

